<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="brj.com.weatherassignment" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:name=".volley_controller.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".taskFirst.ForcastCities"
            android:label="@string/title_activity_forcast_cities" >
        </activity>
        <activity
            android:name=".taskSecond.ForcastOnLocation"
            android:label="@string/title_activity_forcast_on_location" >
        </activity>
        <activity
            android:name=".commonProcess.Date"
            android:label="@string/title_activity_date" >
        </activity>
        <activity
            android:name=".commonProcess.ForecastDetail"
            android:label="@string/title_activity_forecast_detail" >
        </activity>
    </application>

</manifest>
